<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIEW USER</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="body">
    <div class="heading2">
        <h2>View User</h2>
    </div>
    <br><br><br>
    <div id="details">
        <p>First Name: </p>
        <p><%=user.fname%></p>
        <p>Last Name: </p>
        <p><%=user.lname%></p>
        <p>Email: </p>
        <p><%=user.email%></p>
        <p>Roll Number: </p>
        <p><%=user.rno%></p>
        <p>Phone Number: </p>
        <p><%=user.phno%></p>
        <p>Pin Number: </p>
        <p><%=user.pno%></p>
    </div>
    <br><br><br><br>
    <a href="/" id="return-button"><i class="fas fa-arrow-left"></i>Return</a>
    <br><br>
</body>
</html>